
body {
    font-family: "MV Boli";
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "MV Boli";
    font-weight: 800;!important; 
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    font-weight: 500;
    color: white;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin: 40px;
    padding: 100px 15px;
    background: #fff;
    background: rgba(10,10,10,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px;
    color: whitesmoke;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

/* questions */
.quiz_questions {
	color:white;
	text-align: start;
	font-size:  1.5em;
    font-weight: 500;
    line-height: 1.7;
	padding: 20px;
	text-indent: 20%;
}

.next_button {
	margin-top: 20px;
	text-align: center;
}

.cross_tick {
	max-height:100px;
	text-align:center;
	margin: 0;
}

.finalGif {
	margin: 50px 0px;
	max-width: 650px;
	/*text-align: center;*/
}

.final_message {
	font-size: 1.8em;
	font-weight: 800;
}

.display_questions {
	color: white;
	text-align: start;
	font-size:  1.5em;
    font-weight: 500;
    line-height: 1.7;
	padding: 40px;

}

#box-button-spacer {
    padding-bottom: 0;
    margin-bottom: -5vw;
}
